[Unit]
Description=Webapp
ConditionPathExists=/opt/csye6225/webapp/index.js
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
ExecStart=/usr/bin/node /opt/csye6225/webapp/index.js
Restart=always
RestartSec=3

[Install]
WantedBy=cloud-init.target